<section class="proyectos" id="proyectosid">
    <h1 class="titulo t-project" data-aos="fade-up">Proyectos</h1>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-aos="fade-up">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner" >
          <div class="carousel-item active ">
            <a href="https://javicaiola.github.io/Encriptador---Sprint-1-/" target="_blank" class="reset-link"><img src="../../../assets/imagenes/encriptadorIMG.png" class="d-block w-75 img-proyectos" alt="Encriptador"></a>
            <div class="capa w-75 c2"></div>
            <div class="carousel-caption d-none d-md-block">
              <h1 class="titulo">Encriptador de Texto</h1>
              <p class="parrafo">Modifica tus textos y encripta su significado</p>
            </div>
          </div>
          <div class="carousel-item" >
            <img src="../../../assets/gifs/tiempo pasando.gif" class="d-block w-75 img-proyectos" alt="mas proyectos">
            <div class="capa w-75 c2"></div>
            <div class="carousel-caption d-none d-md-block">
              <h1 class="titulo">Mas proyectos en Marcha...</h1>
            </div>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>