<section class="formacion" id="educacion">
    <div class="contenido-formacion">
        <div class="txt-formacion">
            <h1 class="titulo" data-aos="fade-up">Formacion</h1>
            <p class="parrafo" id="txt-formacion" data-aos="fade-up">De la mano de los programas de capacitacion: ONE Next Education(Oracle), y Argentina Programa(Ministerio de Desarrollo), eh tenido una gratificante ruta de aprendizaje, en la que desarrole una nueva forma de ver Al Mundo.</p>
        </div>
        <div class="formacion-img">
            <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank"><img src="./recursos/img/Argentina Programa.jpg" alt="Argentina Programa" class="img-formacion" data-aos="flip-left"></a>
            <a href="https://www.oracle.com/ar/education/oracle-next-education/" target="_blank"><img src="./recursos/img/OracleNext.jpg" alt="Oracle next Education" class="img-formacion" data-aos="flip-right"></a>
            <!--data-aos="fade-left" or rigth-->
        </div>                 
    </div>
    <div class="base-formacion"></div>
</section>