<main class="main" id="main">
    <section class="pagina__inicial">
        <div class="contenidomain">
            <div class="photo">
                <img class="foto__perfil">
            </div>
            <div class="titulo">
                <h1 class="titulo">Hola Soy Javier!</h1>
                <span class="descripcion">Me gusta programar</span>
            </div>
            <div class="container parrafo" id="bash">
                <ul class="row bash-row">
                    <li class="col bash-col">
                        <a href="#sobremi">Sobre Mi</a>
                    </li>
                    <li class="col bash-col">
                        <a href="#habilidades">Skills</a>
                    </li>
                    <li class="col bash-col">
                        <a href="#educacion">Formacion</a>
                    </li>
                    <li class="col bash-col">
                        <a href="#educacion">Proyectos</a>
                    </li>
                    <li class="col bash-col">
                        <a>CV</a>
                    </li>
                </ul>
            </div>
        </div>
        <video muted autoplay loop>
            <source src="../../../assets/videos/Video-Main-Fondo.mp4" type="video/mp4">
        </video>
        <div class="capa"></div>
    </section>
</main>