<div class="card mt-4">
    <div class="card-header">
      <h3>Editar Skill</h3>
    </div>
    <div class="card-body">
      <form>
        <div class="mb-3">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nuevo Nombre">
        </div>
        <div class="mb-3">
            <label for="nombre">Url</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingrese el Url nuevo">
        </div>

        <!-- Otros campos del formulario -->

        <button class="btn btn-success">Guardar</button>
        <button class="btn btn-secondary">Cancelar</button>
      </form>
    </div>
  </div>
