<section class="sobre-mi" id="sobremi">
            
    <article class="articulo-sobremi" data-aos="fade-up" data-aos-duration="2000">
        <h1 class="titulo">Sobre Mi</h1>
        <p class="parrafo">Soy de Jujuy Argentina, actualmente soy estudiante de desarrollo web en dos <a href="#educacion" class="reset-link">Grandes programas de capacitacion</a> y voy en busca de nuevas oportunidades</p>
        <p class="parrafo">Como Hobbies me gusta ver la F1 y los coches, tocar la guitarra, el charango o la zampoña y andar en bici hasta desvanecer.</p>
    </article>
    <img src="./recursos/img/jujuyrgb.png" alt="foto jujuy rgb" class="img-logo img-jujuy" data-aos="flip-right" data-aos-duration="2000">
    
</section>