<div mat-dialog-title>
    <h1>Agregar Skill</h1>
</div>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Nombre de Skill</mat-label>
        <input matInput type="text" placeholder="Nombre Skill">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Url de img</mat-label>
        <input matInput type="text" placeholder="Url img">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button>Añadir</button>
    <button mat-raised-button>Cancelar</button>
</div>
