<section class="skills" id="habilidades">
    <img src="../../../assets/gifs/Gato-typing.gif" alt="imagen-bola" class="img-bola">
    <div class="container skills-image">
        <h1 class="titulo" data-aos="fade-up">Skills</h1>
        <ul class="skill-row" >
            <img src="../../../assets/imagenes/html-5.png" alt="html by riajulislam" class="col img-skil" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="500">
            <img src="../../../assets/imagenes/css-3.png" alt="css" class="col img-skil" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
            <img src="../../../assets/imagenes/js.png" alt="javascript" class="col img-skil" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
            <img src="../../../assets/imagenes/Git-Icon.png" alt="git" class="col img-skil" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <img src="../../../assets/imagenes/java-logo.png" alt="java" class="col img-skil" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2500">
            <img src="../../../assets/imagenes/Bootstrap.png" alt="bootstrap" class="col img-skil" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
        </ul>
    </div>
    <button mat-raised-button (click)="agregarskill()">
        AGREGAR SKILL
    </button>
    
</section>