<section class="skills" id="habilidades">
    <img src="../../../assets/gifs/Gato-typing.gif" alt="imagen-bola" class="img-bola">
    <!--<div class="container skills-image">
        <h1 class="titulo" data-aos="fade-up">Skills</h1>
        <ul class="skill-row" >
            <img src="../../../assets/imagenes/html-5.png" alt="html by riajulislam" class="col img-skil" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="500">
        </ul>
    </div>-->
    <div class="container">
        <section class="skill__container">
            <ng-template class="objeto" let-skillo>
                <div class="iconoscrud">
                    <i class="bi bi-tools" (click)="editarComponente()"></i>
                    <i class="bi bi-trash3"></i>
                </div>
                <img [src]="skillo.url" alt="html by riajulislam" class="col img-skil" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="500">
                <label for="">{{skillo.nombre}}</label>
            </ng-template>
            <i class="bi bi-plus-square" (click)="agregarskill()"></i>
        </section>
    </div>
</section>